<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6">
    <br>
    <div>
      {{input type="text" placeholder="Title" class="form-control" value=title required=true }}
      <br>
      {{textarea class="form-control" placeholder="Content" value=postText cols="80" rows="6"}}
      <br>
      <button {{action 'addPost'}}class="btn btn-primary">Add Post</button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="post-container" class="col-md-6 col-lg-6 col-sm-6">
    <h1>Posts</h1>
    <div class="col-md-12 col-sm-12 col-lg-12 clear-padding">
      {{#if model}}
        <div class="search-field-wrapper" >
          {{input type="text" value=searchFor placeholder="Search By Title" class="form-control"}}
        </div>
      {{/if}}
      {{#if model}}
        <label class="clear-all-label" {{action "clearAll"}}> Clear All</label>
      {{/if}}
    </div>

    <ul class="list-group">
      {{#each filteredPost as |queue|}}
        <li class="list-group-item">
           <h4>{{queue.title}}</h4>
           <p>{{queue.content}}</p>
           <span class="delete-label" {{action "removePost" queue.id}}>Delete</span>
        </li>
        {{else}}
          <p>Sorry, No post is here.</p>
      {{/each}}
    </ul>
  </div>
</div>
<!-- {{outlet}} -->
